:root {
  --blue: #5b1ccf;
  --red: rgb(241, 181, 41);
  --grey: rgb(165, 165, 165);
  --white: rgb(230, 230, 230);
  --padding: 10rem;
  --border-width: 4px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;

  font-family: 'Roboto';
  color: #333;

  height: 100vh;
}

main {
  width: 800px;
  height: auto;
  margin: 3rem auto;
  border: var(--border-width) dashed var(--blue);
  border-radius: 15px;

  /* for absolute positioning of the .avatar div */
  position: relative;
}

.avatar {
  --avatar-width: 6rem;

  position: absolute;
  top: 3rem;
  left: calc((var(--padding) - var(--avatar-width)) / 2);
  display: block;
  width: var(--avatar-width);
  height: auto;
}

.avatar--img {
  display: block;
  width: var(--avatar-width);
  height: var(--avatar-width);
  background-color: var(--grey);
  margin-bottom: 2rem;
}

a,
.avatar--name {
  color: var(--red);
  font-weight: 800;
}

.avatar--name {
  position: relative;
}

.avatar--name:after {
  --avatar-size: 1.5rem;

  display: block;
  position: absolute;
  width: var(--avatar-size);
  height: var(--avatar-size);
  top: 50%;
  transform: translateY(-50%);
  right: 0rem;
  background: var(--grey);
  border-radius: 50%;
  content: ' ';
}

a {
  cursor: pointer;
}

h1,
h2,
p {
  font-size: 1rem;
}

h2 {
  margin: 2rem 0;
}

h2,
p {
  width: 80%;
}

header {
  padding: 2rem 0;
  margin: 1rem 0;
  background: var(--blue);

  /* hack to get header width blead into the border */
  /* 100% of the parent with + width of the border times 2 */
  /* than move left margin back of the width of the border */
  width: calc(100% + (var(--border-width) * 2));
  margin-left: calc(var(--border-width) * -1);
}

h1 {
  color: var(--white);
  margin: 0;
  display: inline;
  margin-right: 2rem;
}

h1,
.content {
  padding-left: var(--padding);
}

.content {
  padding-bottom: 1rem;
}
